<% status = @test_passage.test_result[:status] == 'complited' ? 'green' : 'red' %>

<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <%= t('.percentage') %> <span style="color: <%= status %>"><%= @test_passage.percentage_correct_answers %>%</span>
</p>
<p>
  <% status = @test_passage.test_result[:status] == 'complited' %>
</p>

<%= link_to t('links.back'), tests_path %>
