<% status = @test_passage.test_result[:status] == 'complited' ? 'green' : 'red' %>

<h1><%= @test_passage.test.title %> was complited !</h1>

<p>
  Percentage of correct answers - <span style="color: <%= status %>"><%= @test_passage.percentage_correct_answers %>%</span>
</p>
<p>
  <% status = @test_passage.test_result[:status] == 'complited' %>

  <%= @test_passage.test_result[:message] %>
</p>

<%= link_to 'Back', tests_path %>
