<div class="row justify-content-center mt-3">
  <h1 class="text-center mb-3">
    <%= t('test_passages.show.title', title: @test_passage.test.title) %> (<%= @test_passage.current_index %> / <%= @test_passage.test.questions.count %>) 
  </h1>

  <%= render 'shared/progress_bar', count_questions: @test_passage.current_index, current_question: @test_passage.test.questions.count %>

  <h3 class="text-center mb-3">
    <%= @test_passage.current_question.body %>
  </h3>

  <div class="card border-primary col col-md-4 p-3">
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put, html: { data: { result_url: result_test_passage_path(@test_passage), time_left: @test_passage.time_left(@test_passage) } } do |form| %>

      <% if @test_passage.test.timer %>
        <div class="timer-block">
          <span> <%= t('test_passages.time')%> </span>
          <div id="timerDisplay">00:00:00</div>
          <%= form.text_field :time_left, id: :timer, class: " js-data-input" %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false  do |b| %>
          <p>
            <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
            <%= b.label  class: "form-check-label" %>
          </p>
        <% end %>
      </div>

      <p><%= form.submit t('buttons.next'), class: "btn btn-primary"  %></p>
    <% end %>
      <%= form_tag(gists_path) do %>
        <%= hidden_field_tag :test_passage_id, @test_passage.id %>
        <p> <%= submit_tag t('gists.create.title'), class: 'btn btn-warning' %></p>
      <% end %>
  </div>
</div>
