

<h1><%= t('answers.edit.header') %></h1>

<p>
  <%= t('questions.show.body') %> : 
  <b><%= @answer.question.body %></b>
</p>

<%= render 'form' %>
<%= link_to t('links.back'), admin_question_path(@answer.question) %>
