<h1><%=t('answers.show.question')%></h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%=t('answers.show.answer')%>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%=t('answers.show.correct')%>:</b>
  <%= @answer.correct %>
</p>

<%= link_to t('links.back'), admin_question_path(@answer.question) %>
