<% action  = resource.persisted? ? [:admin, resource] :  [:admin, resource.test, resource]  %>

<div class="row justify-content-center mt-3">
  <h1 class="text-center mb-3"><%= question_header(resource) %></h1>

  <div class="card border-primary col col-md-4 p-3">
    <%= form_with model: action do |form| %>

      <%= render 'shared/errors', resource: resource %>

      <div class="mb-3">
        <%= form.label :body, class: "form-label" %>
        <%= form.text_field :body, class:"form-control" %>
      </div>

      <p><%= form.submit class: "btn btn-primary" %></p>
    <% end %>

    <%= link_to t('links.back'), admin_test_path(resource.test) %>

  </div>
</div>

