<% action  = resource.persisted? ? [:admin, resource] :  [:admin, resource.test, resource]  %>

<h1><%= question_header(resource) %></h1>

<%= form_with model: action do |form| %>

  <%= render 'shared/errors', resource: resource %>

  <p>
    <%= form.label :body %>

    <%= form.text_field :body %>
  </p>

  <p><%= form.submit %></p>
<% end %>

<%= link_to 'Back', admin_test_path(resource.test) %>
