<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('links.new_test'), new_admin_test_path %>
</p>

<%= render 'shared/errors', resource: @test %>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th class='sort-by-title pointer'>
        <%= t('tests.index.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('tests.index.level') %></th>
      <th><%= t('tests.index.count') %></th>
      <th colspan="4"><%= t('tests.index.actions') %></th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <%= render @tests %>
  </tbody>
</table>
