<p>
  <strong><%= t('tests.show.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('tests.show.level') %>:</strong>
  <%= @test.level %>
</p>

<h2><%= t('tests.show.questions') %></h2>

<%= link_to t('links.new_question'), new_admin_test_question_path(@test) %>

<ol>
  <table>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </table>
</ol>

<%= link_to t('links.edit'), edit_admin_test_path(@test) %>
<%= link_to t('links.back'), admin_tests_path(@test) %>

