<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user">
        Welcome, <b><%= current_user.email %>  Guru |
        <%= link_to 'Guru', root_path %></b>
        <%= link_to 'Exit', destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
      <%= link_to 'Registration', new_user_registration_path%>
      <%= link_to 'Login', user_session_path%>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>
  </body>

  <footer>
    <p><%= current_year %></p>

    <%= github_url('Кружков Григорий', 'https://github.com/FreeSoulll/ruby-thinknetica') %>

    <p>
      Текущий проект является учебным. Он представляет из себя генератор тестов.
    </p>

    <a href='http://thinknetica.com/' target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
  </footer>
</html>
