<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.head.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user">
        <%= t('layouts.body.user', email: current_user.email).html_safe %>
        <%= link_to t('links.guru'), root_path %></b>
        <%= link_to t('links.exit'), destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
      <%= link_to t('links.registration'), new_user_registration_path%>
      <%= link_to t('links.login'), user_session_path%>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>
  </body>

  <footer>
    <p><%= current_year %></p>

    <%= github_url(t('layouts.footer.author'), 'https://github.com/FreeSoulll/ruby-thinknetica') %>

    <p>
      <%= t('layouts.footer.description') %>
    </p>

    <a href='http://thinknetica.com/' target="_blank"><%= t('layouts.footer.link_to_thinknetica') %></a>
  </footer>
</html>
